<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.uw.tcss450.howlr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/howlr_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/howlr_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="edu.uw.tcss450.howlr.MainActivity"></activity>
        <activity android:name="edu.uw.tcss450.howlr.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="howlr-server-side.herokuapp.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>